body {
  background-color: black;
  font-family: 'CaveStoryRegular'; 
  font-style: normal; 
  font-weight: normal; 
}

.font-gradient {
  background: #C02425;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleHead {
  font-size: 4em;
  text-align: center; 
}

#game {
  border: 3px solid #C02425;
}

/* Left side column for rules */

.left-column {
  border: 3px solid #C02425;
  width: 22%;
}

/* 
.initials {
  z-index: 1;
  display: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  Color: white;
} */


.rules {
  display: flex;
  flex-direction: column;
  padding: 1em;
}


.rulesHeader {
  font-size: 2.4em;
  height: 1em;
  text-align: center;
}

.rules-row {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  height: 8em;
  width: 100%;
}

.rules-text {
  padding-left: 1em;
}

.keys {
  width: 3em;
}

.apple {
  width: 1.2em;
}

.game-over {
  width: 2em;
}

/* Main canvas/ game board */

.consoleWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Right side wrapper/ High scores section */

.wrapper-right {
  border: 3px solid #C02425;
  margin: 0;
  width: 22%;
}

.scoreboard {
  margin: 0;
  height: 40%;
  padding: 3em 0 0 3em;
}

.scoreHeader {
  font-size: 2.4em;
  height: 1em;
  padding-top: .35em;
  text-align: center;
  width: 100%;
}

/* Bottom footer/ difficulty  and current score */

.bottomWrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-right: 8em;
  text-align: center;
  width: 79%;
}

.bottomWrapper h2 {
  font-size: 2.2em;
}

.difficulty-display {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 16rem;
}

.difficulty {
  color: white;
  font-size: 18px;
  margin: 0 .5rem;
  min-width: 46px;
}

.difficulty-buttons {
  align-items: center;
  display: flex;
}

.button {
  align-items: center;
  background-color: black;
  border: none;
  color: #F0CB35;
  display: flex;
  font-size: 30px;
  opacity: .75;
  outline: none;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  opacity: 1;
}

.down {
  padding: 10px 0 0;
}

.down-button {
  transform: rotate(180deg);
}

.up {
  padding-top: 10px;
}

.current-score-display {
  align-items: center;
  display: flex;

  justify-content: space-between;
  margin: 0 auto;
  padding-right: 8em;
  text-align: center;
  width: 79%;


}

.score {
  color: white;
  font-size: 2.2em;
  padding-left: 1rem;
}


.endgame-display {
  align-items: center;
  display: flex;
  font-size: 2em;
}

.initials-text {
  padding-left: 1em;
}

.initials-input {
  background-color: transparent;
  border: none;
  color: #00FA00;
  font-size: 1.2em;
  font-family: 'CaveStoryRegular'; 
  height: 40px;
  outline: none;
  padding-left: .5em;
  width: 60px;
}


::placeholder {
  color: #00FA00;
  opacity: 1;
}


.score-display {
  color: white;
  display: flex;
  font-size: 2em;
  justify-content: space-between;
  list-style: decimal;
  padding-left: 1em;
  width: 50%;
}

