body {
  background-color: black;
  font-family: 'CaveStoryRegular'; 
  font-weight: normal; 
  font-style: normal; 
}

.font-gradient {
  background: #C02425;
  background: -webkit-linear-gradient(to bottom, #F0CB35, #C02425);
  background: linear-gradient(to bottom, #F0CB35, #C02425);
  margin: auto 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleHead {
  font-size: 4em;
  text-align: center; 
}

#game {
  border: 3px solid #C02425;
  cursor: none;
  text-align: center;
  position: relative;
  z-index: 0;
}

.left-column {
  border: 3px solid #C02425;
  width: 22%;
}

.rules {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.rulesHeader {
  font-size: 2.4em;
  height: 1em;
  text-align: center;
}

.rules-row {
  display: flex;
  font-size: 1.5em;
  height: 8em;
  align-items: center;
  width: 100%;
}

.rules-text {
  padding-left: 1em;
}

.keys {
  width: 3em;
}

.apple {
  width: 1.2em;
}

.game-over {
  width: 2em;
}

.consoleWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper-right {
  border: 3px solid #C02425;
  margin: 0;
  width: 22%;
}

.scoreboard {
  margin: 0;
  height: 40%;
  padding: 3em 0 0 3em;
}

.scoreHeader {
  font-size: 2.4em;
  height: 1em;
  padding-top: .35em;
  text-align: center;
  width: 100%;
}


.score {
  padding-left: 1rem;
  color: white;
  font-size: 2.2em;
}

.score-display {
  color: white;
  font-size: 2em;
  list-style: decimal;
  padding-left: 1em;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.bottomWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-right: 8em;
  text-align: center;
  width: 79%;
}

.bottomWrapper h2 {
  font-size: 2.2em;
}

.difficulty-display {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 16rem;
}

.button {
  align-items: center;
  background-color: black;
  border: none;
  color: #F0CB35;
  display: flex;
  font-size: 30px;
  opacity: .75;
  outline: none;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  opacity: 1;
}

.down-button {
  transform: rotate(180deg);
}

.difficulty {
  font-size: 18px;
  min-width: 46px;
  margin: 0 .5rem;
  color: white;
}

.difficulty-buttons {
  align-items: center;
  display: flex;
}

.down {
  padding: 10px 0 0;
}

.up {
  padding-top: 10px;
}

.endgame-display {
  align-items: center;
  display: flex;
  font-size: 2em;
}

.initials-text {
  padding-left: 1em;
}

.initials-input {
  background-color: transparent;
  border: none;
  color: #00FA00;
  font-size: 1.2em;
  font-family: 'CaveStoryRegular'; 
  height: 40px;
  outline: none;
  padding-left: .5em;
  width: 60px;
}

::placeholder {
  color: #00FA00;
  opacity: 1;
}

.current-score-display {
  display: flex;
  align-items: center;
}